.page.disc ul {
	list-style-type: disc;
}

.page.circle ul {
	list-style-type: circle;
}

.page.square ul {
	list-style-type: square;
}

.page.decimal ol {
	list-style-type: decimal;
}

.page.lower-roman ol {
	list-style-type: lower-roman;
}

.page.upper-roman ol {
	list-style-type: upper-roman;
}

.page.lower-alpha ol {
	list-style-type: lower-alpha;
}

.page.upper-alpha ol {
	list-style-type: upper-alpha;
}
